# Large asset files, to keep local
systems-ds-assets/
data/

# venv folder
sdsgvenv/

# library folder
lib/

# .vscode folder
.vscode/

# dependencies
node_modules/
/node_modules
node_modules
package-lock.json