.topbar {
  background-color: rgb(13, 26, 49);
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 15px;
  margin-right: 350px;
}
.simulation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 350px;
}
.topbar-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  font-size: 2rem;
  background: none;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: rgb(44, 58, 71);
  width: 350px;
  height: 100vh;
  display: flex;
  position: absolute;
  top: 0;
  right: -100%;
  transition: 850ms;
}

.nav-menu.active {
  right: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 20px 0 8px 16px;
  list-style: none;
  height: 30px;
  margin-left: 20px;
  margin-right: 30px;
  color: rgb(255, 255, 255);
}
.nav-desc {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 20px 0 8px 16px;
  list-style: none;
  height: 30px;
  margin-left: 30px;
  margin-right: 30px;
  color: rgb(255, 255, 255);
  font-size: 18px;
}

.nav-header {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 20px;
  font-weight: bold;
  font-size: 25px;
  color: rgb(156, 182, 228);
}

.nav-subheader {
  display: flex;
  justify-content: left;
  align-items: center;

  margin-left: 20px;
  font-weight: bold;
  font-size: 25px;
  color: rgb(117, 189, 217);
}

.details-button {
  margin-top: 30px;
  margin-left: 35px;
}
.start-button {
  align-items: center;
  margin-top: 30px;
  margin-left: 60px;
}
/* .nav-button .MuiButton-containedPrimary {
    background-color: rgb(81, 111, 136);
    font-size: 15px;
  }
.nav-button .MuiButton-containedPrimary:hover {
    background-color: rgb(0, 0, 0);
    font-size: 15px;
  } */

.ffw-button {
  position: fixed;
  left: 30px;
  bottom: 30px;
  display: flex;
  justify-content: left;
  align-items: flex-end;
  margin-top: 30px;
}
/* .ffw-button .MuiButton-containedPrimary {
    background-color: rgb(81, 111, 136);
    font-size: 50px;
  }
.ffw-button .MuiButton-containedPrimary:hover {
    background-color: rgb(0, 0, 0);
    font-size: 50px;
  } */
.ffw-text {
  font-size: 30px;
}

/* hover effect */
.nav-text a:hover {
  background-color: #252831;
}

.nav-menu-items {
  width: 100%;
  color: aliceblue;
  justify-content: start;
  padding: 0px 0 0 0;
  font-size: 22px;
}

.nav-slider {
  margin-left: 50px;
  margin-right: 50px;
}

span {
  margin-left: 16px;
}
.nav-smallspace {
  margin-top: 10px;
}
